/*스타일 설정을 위한 css file*/
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
  
/*page 1*/

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    bottom : 0;
    width: 13%;
    height: 1500px;
    /*padding: 2rem 1rem;*/
    background-color: #222834;
    display: visible;
    text-decoration-color: white;
}
.hr{
    color: #F5F7FA;
    opacity: 0.3;
    margin-bottom: 10%;
    width: 90%;
}
.sidebar_text{
    color: white;
    margin-left: 7%;
    opacity: 0.8;
    font-family: 'Jal_Onuel';
}
.logo{
    margin-left: 15%;
    margin-top: 30px;

}

/*헤더 아이콘(오토바이)*/
.header_img {
    
    margin: 0 auto;
    text-align: center;
}

/*헤더 타이틀 (Zol-zol-zol)*/
.header_title {
    color: #c2c2c2;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    font-family: Georgia, Serif;
}

/*헤더 부제목 (설명~)*/
.header_description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

/*헤더 bg box*/
.header_box {
    background-color: #ffffff;
    height: 70px;
    width: 87%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/*데이터 셋팅 제목(기간 설정, 이동수단 설정)*/
.dropdown_title {
    margin-bottom: 6px;
    display: flex;
    font-weight: bold;
    color: #070b1d ;
}

/*지도 display bg box*/
.layoutbox {
    background-color: #F5F7FA;
    width: 87%;
    height: 830px;
    float: right;
    position: relative;
    border-top: 2px solid rgba(92, 91, 91, 0.384);
    border-bottom: 2px solid rgba(92, 91, 91, 0.384);
}

.index_hr1{
    width: 60%;
    color: 1px solid rgba(128, 128, 128, 0.301);
    margin-top: 160px;
    float: left;
    padding-left: 10px;
}

.main_title{
    margin-left: 6%;
    margin-top: 3%;
    display: inline-block;
    font-family: 'Happiness-Sans-Title';
    color: #222834;
    text-shadow: 2px 2px 2px gray;
}

.dropdown_date{
    width: 55%;
    padding-left: 40%;   
    display: inline-block;
    padding-top: 10px;
    bottom: 10px;
    
}

/*index_page graph*/
.graph {
    /*background-color: white;*/
    height: 65%;
    width: 55%;
    display: flex;
    float: left;
    position: absolute;
    bottom: 140px;
    margin-left: 10px;
    /*border: 5px solid white;
    border-radius: 20px;*/

    
}

.index_text3{
    margin-top: 530px;
    margin-left: 100px;
}
.city_top5{
    margin-top: 20px;
    margin-left: 100px;
    margin: 30px;
}
ol li{
    display: inline-block; 
    margin-left : 20px;
}
.top5{
    margin-top: 450px;
    margin-left: 90px;
    font-size: 30px;
    
}
.today_idx{
    font-family: 'Happiness-Sans-Title';
    font-size: larger;
    padding-left: 10%;
}
.today_cnt{
    font-family: 'Happiness-Sans-Title';
    font-size: large;
    padding-left: 10%;
}
.todaybox{
    float: right;
    width: 15%;
    height: 55px;
    background-color:#F5F7FA;
    border-left: 6px solid #3874FF;
    border-radius: 0px;
    margin-right: 3%;
    margin-top: 3%;
    
}
.total_idx{
    font-family: 'Happiness-Sans-Title';
    font-size: larger;
    padding-left: 10%;

}
.total_cnt{
    font-family: 'Happiness-Sans-Title';
    font-size: large;
    padding-left: 10%;
}

.totalbox{
    float: right;
    width: 15%;
    height: 55px;
    background-color:#F5F7FA;
    border-left: 6px solid #3874FF;
    border-radius: 0px;
    margin-right: 6%;
    margin-top: 3%;
}

.index-graph_box{
    float: right;
    width: 35%;
    background-color: white;
    margin-right: 6%;
    flex-direction: column;
    margin-top: -10px;
}
.index-graph_people{
    
    margin-bottom: -30px;
    background-color: white;

    /*border: 5px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgb(184, 183, 183);*/
}
.index-graph_stopline{
    
    
    background-color: white;
    
    /*border: 5px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgb(184, 183, 183);*/
}



/*page 2*/

/*두 번째 페이지 구 dropdown bg*/
.graph_title{
    font-family: 'LINESeedKR-Bd';
}
.location{
    margin-left: 3%;
    margin-top: 50px;
    display: inline-block;
    font-family: 'Happiness-Sans-Title';
    color: #222834;
    text-shadow: 2px 2px 2px gray;
}
.location_text{
    padding-left: 10px;
    margin-top: 50px;
    display: inline-block;
    font-family: 'Happiness-Sans-Title';
    color: #222834;
    text-shadow: 2px 2px 2px gray;
}
.analytics_page-content {
    height: 150px;
    background-color: #f0f9ff;
}

.city-dropdown{
    width: 15%;
    margin-left: 33%;   
    display: inline-block;
    padding-top: 0px;
}
.right_page{
    width: 38%;
    float: right;
    margin-right: 5%;
    margin-top: -110px;
}


.gun_gu_text{
    float: right;
    width: 40%;
    height: 40px;
    background-color:#F5F7FA;
    border-left: 6px solid #3874FF;
    border-radius: 0px;
    margin-right: 65%;
    margin-top: -10%;
    padding-left: 3%;
    font-family: 'Happiness-Sans-Title';
}
.pie{
    float: right;
    margin-right: -5%;
    margin-top: -20%;
}
.container_dong{
    width: 100%;
    height: -50%;
    margin-top: 55.5px;
    margin-bottom: 60%;
    margin-right: 10%;
 
    float: right;
    
}
.container_cctv{
    width: 100%;
    height: -50%;
    margin-top: -4.7%;
    margin-bottom: 60%;
    margin-right: 10%;
    float: right;
    
}

.locationsub{
    float: left;
    margin-left: -130%;
    margin-top: 720px;
    border-left: 6px solid #3874FF;
    padding-left: 3%;
    font-family: 'Happiness-Sans-Title';
    color: #222834;
    
}
.dong-graph_stopline_top5{
    width: 100%;
    float: left;
    margin-top: 800px;
    margin-left: -130%;
    border: 6px solid #F5F7FA;
    border-radius: 20px;
}
.dong-graph_road_top5{
    width: 100%;
    float: right;
    margin-top: -190px;
    margin-right: 10%;
    border: 6px solid #F5F7FA;
    border-radius: 20px;
    
<<<<<<< HEAD
}




=======
}
>>>>>>> main
